JNDI_EMAIL=true
JVM_MINIMUM_MEMORY=2048m
JVM_MAXIMUM_MEMORY=4096m
CATALINA_CONNECTOR_PROXYNAME=wiki.mritd.me
CATALINA_CONNECTOR_PROXYPORT=443
CATALINA_CONNECTOR_SCHEME=https
CATALINA_CONNECTOR_SECURE=true
