version: '3.6'
services:
  rsshub:
    image: mritd/rsshub:v0.0.238
    container_name: rsshub
    restart: unless-stopped
    networks:
      - nginx
networks:
  nginx:
    external:
      name: nginx 
