(LOG_COMMON) {
    log {
        format formatted "[{ts}] {request>remote_addr} {request>proto} {request>method} <- {status} -> {request>host} {request>uri} {request>headers>User-Agent>[0]}"  {
            time_format "iso8601"
        }
        output file "{args.0}" {
            roll_size 100mb
            roll_keep 3
            roll_keep_for 7d
        }
    }
}

(TLS_MODERN) {
    protocols tls1.3
}

(TLS_INTERMEDIATE) {
    protocols tls1.2 tls1.3
    ciphers TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256 TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256
}

(TLS_OLD) {
    protocols tls1.0 tls1.3
    ciphers TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256 TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256 TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA TLS_RSA_WITH_AES_128_GCM_SHA256 TLS_RSA_WITH_AES_256_GCM_SHA384 TLS_RSA_WITH_AES_128_CBC_SHA TLS_RSA_WITH_AES_256_CBC_SHA TLS_RSA_WITH_3DES_EDE_CBC_SHA
}

(HSTS) {
    # HSTS (63072000 seconds)
    header / Strict-Transport-Security "max-age=63072000"
}

(SECURITY) {
    # hidden server name
    header -Server
}

(ACME_CLOUDFLARE) {
    dns cloudflare {$CLOUDFLARE_API_TOKEN}
}

(ACME_DNSPOD) {
    dns dnspod {$DNSPOD_TOKEN}
}

(ACME_DUCKDNS) {
    dns duckdns {$DUCKDNS_API_TOKEN}
}

(ACME_GANDI) {
    dns gandi {$GANDI_API_TOKEN}
}

(ACME_ALIYUN) {
    dns alidns {
        access_key_id {$ALIYUN_ACCESS_KEY_ID}
        access_key_secret {$ALIYUN_ACCESS_KEY_SECRET}
    }
}

(GANDI) {
    # 压缩支持
    encode zstd gzip

    # TLS 配置
    tls {
        import TLS_INTERMEDIATE
        import ACME_GANDI
    }

    # HSTS
    import HSTS

    # security config
    import SECURITY

    # log
    import LOG_COMMON "{args.0}"
}

(CF) {
    # 压缩支持
    encode zstd gzip

    # TLS 配置
    tls {
        import TLS_INTERMEDIATE
        import ACME_CLOUDFLARE
    }

    # HSTS
    import HSTS

    # security config
    import SECURITY

    # log
    import LOG_COMMON "{args.0}"
}

# 开启 HTTP3 实验性支持
# sysctl -w net.core.rmem_max=2500000
# ref https://github.com/lucas-clemente/quic-go/wiki/UDP-Receive-Buffer-Size
{
    servers :443 {
        listener_wrappers {
            trojan
        }
        protocol {
            allow_h2c
            experimental_http3
        }
    }
}

import /etc/caddy/*.caddy
