version: '3.9'
services:
  tailscale:
    image: tailscale/tailscale:v1.66.3
    container_name: tailscale
    restart: unless-stopped
    networks:
      - caddy
    env_file: .env
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - socket:/var/run/tailscale
      - tailscale:/var/lib/tailscale
  tailscale-derper:
    image: mritd/derper
    container_name: tailscale-derper
    restart: unless-stopped
    networks:
      - caddy
    env_file: .env
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - /etc/timezone:/etc/timezone
      - socket:/var/run/tailscale
      - derper:/var/lib/derper
    ports:
      - "9325:9325/udp"
networks:
  caddy:
    name: caddy
    external: true

volumes:
  socket:
  tailscale:
  derper:
